*.vs
*.sln
*.vcxproj
*.filters
*.user

lab1/*/x64
lab1/x64
lab1/build
lab1/dependencies/include/gtest
lab1/dependencies/lib

lab2/*/x64
lab2/x64
lab2/build
lab2/dependencies/include/catch2
lab2/dependencies/lib